<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/ ">
        <img alt="Home" id="logo" src="http://www.iconhot.com/icon/png/devine-icons-part-2/256/mail-2-w.png">
      </a>
      <p class="navbar-text">
      <% if current_user  %>You are signed in as <%= current_user.email %></p> 
      <% else %>You are not signed in<% end %>
      </p>

    
    </div>
  </div>
</nav>


<h1>Welcome to SnailMail</h1>


<% flash.each do |key,value|  %>
    <div class="<%= key %>" > <%= value %> </div>
<% end %>


<% if current_user %>
	<%= link_to "View Your Letters", user_letters_path(current_user) %>
<% else %>	
	<%= link_to "Register", new_user_path  %>
<% end %>

<% if current_user  %>
  <%= link_to "Logout", destroy_session_path %>
<% else %>
    <%= link_to "Login", new_session_path %>
<% end %>