<h1>Welcome to SnailMail</h1>


<% flash.each do |key,value|  %>
    <div class="<%= key %>" > <%= value %> </div>
<% end %>


<% if current_user %>
	<h2>You are signed in as <%= current_user.email %></h2>
	<%= link_to "View Your Letters", user_letters_path(current_user) %>
<% else %>	
	<%= link_to "Register", new_user_path  %>
<% end %>

<% if current_user  %>
  <%= link_to "Logout", destroy_session_path %>
<% else %>
    <%= link_to "Login", new_session_path %>
<% end %>