<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/ ">
        <img alt="Home" id="logo" src="http://www.iconhot.com/icon/png/devine-icons-part-2/256/mail-2-w.png">
      </a>

      <div class="btn btn-default" id="viewlet">
        <% if current_user  %>
          <%= link_to "View Letters", user_letters_path(current_user) %>
        <% else %>
          <%= link_to "View Letters", new_session_path %>
        <% end %>
      </div>

      <div class="btn btn-default" id="compose">
        <% if current_user  %>
          <%= link_to "Compose", new_letter_path %>
        <% else %>
          <%= link_to "Compose", new_session_path %>
        <% end %>
      </div>

      <div class="btn btn-default" id="login">
        <% if current_user  %>
          <%= link_to "Logout", destroy_session_path %>
        <% else %>
          <%= link_to "Login", new_session_path %>
        <% end %>
      </div>
      
      <p class="navbar-text" id="navtext">
        <% if current_user  %>You are signed in as <%= current_user.email %></p> 
        <% else %>You are not signed in<% end %>
      </p>

    
    </div>
  </div>
</nav>




<h1>Your Letters</h1>


<div class="list-group">
  <ul>   
    <% @letters.each do |letter| %>
        <li class="list-group-item active">
            <strong> To: <%= letter.reciever %> </strong>
            <br>
            <strong> <%= letter.title %> </strong> 
            <%= link_to "Click to Review this Letter", letter_path(letter) %>
        </li>
    <% end %>
  </ul>
</div>



  