<h1>Edit this Letter!</h1>

<%= form_for @letter do |f| %>

    <div>
        <%= f.label :reciever %>
        <%= f.text_field :reciever %>
    </div>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>

    <%= f.submit "Save these changes" %>

<% end %>

<%= link_to "Back to Your Letters", user_letters_path(current_user) %>